---
title: Home Notifications
---
<body class="home-notifications">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="bg" class="container">

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="#">How It Works</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#login-fancy" class="fancybox">Login</a></li>
          <li><a href="#">List Your Equipment</a></li>
        </ul>
        <a class="logo"><img src="./images/dtp_logo_white@2x.png" /></a>
      </div>

      <div class="jumbotron">
        <h1>We've emailed you.</h1>
        <h3>Please check you're email for your activation link.</h3>
        <p>Didn't receive anything? <a href="">Click here.</a></p>
      
      </div>
      </div>
</div><!-- container#bg -->
      

    {{>footer}}

    {{>bottom-includes}}
</body>