---
title: Home
---
<body class="home">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="bg" class="container">

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="#">How It Works</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#login-fancy" class="fancybox">Login</a></li>
          <li><a href="#">List Your Equipment</a></li>
        </ul>
        <a class="logo"><img src="./images/dtp_logo_white@2x.png" /></a>
      </div>

      <div class="jumbotron">
        <h1>Everything you need on location.</h1>
        <h3>Rent what you need, when you need it, where you are.</h3>
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="text" class="form-control" id="input-what" placeholder="What Are you Looking For?">
            <input type="text" class="form-control" id="input-where" placeholder="Where Are You Shooting?">
            <input type="date" class="form-control unstyled" id="input-start" placeholder="Start Date" value="START DATE">
            <input type="date" class="form-control unstyled" id="input-end" placeholder="End Date">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
      </div>
      </div><!-- container#bg -->
      
      <div class="container search">
        <h2>search by equipment type</h2> 
        <div class="row sections">

        <div class="col-lg-12 col-md-12">
          <div class="section">
            <a href="">
              <div class="section-title">
                <p>Cameras</p>
              </div>
              <img src="images/section-cameras.png">
            </a>
          </div><!-- section -->
          <div class="section">
            <a href="">
              <div class="section-title">
                <p>Lenses</p>
              </div>
              <img src="images/section-lenses.png">
            </a>
          </div><!-- section -->
          <div class="section">
            <a href="">
              <div class="section-title">
                <p>Lens Accessories</p>
              </div>
              <img src="images/section-lens-accessories.png">
            </a>
          </div><!-- section -->
          <div class="section">
            <a href="">
              <div class="section-title">
                <p>Camera Support</p>
              </div>
              <img src="images/section-camera-support.png">
            </a>
          </div><!-- section -->
          <div class="section">
            <a href="">
              <div class="section-title">
                <p>Recorders</p>
              </div>
              <img src="images/section-recorders.png">
            </a>
          </div><!-- section -->
        </div><!-- col-md-12 -->
      </div><!-- row.sections -->
      <h2>search by category</h2>
      <div class="row sections">
        <div class="col-lg-12 col-md-12">

          <div class="section">
            <div class="section-title">
              <a href=""><p>equipment</p></a>
            </div>
          </div><!-- section -->
          <div class="section">
            <div class="section-title">
              <a href=""><p>crew</p></a>
            </div>
          </div><!-- section -->
          <div class="section">
            <div class="section-title">
              <a href=""><p>locations</p></a>
            </div>
          </div><!-- section -->
          <div class="section">
            <div class="section-title">
              <a href=""><p>lighting & grip</p></a>
            </div>
          </div><!-- section -->
          <div class="section">
            <div class="section-title">
              <a href=""><p>on set services</p></a>
            </div>
          </div><!-- section -->
          
        </div><!-- col-md-12 -->
      </div><!-- row.sections -->
    </div><!-- container -->

    <div class="container-fluid find-background">
      <div class="container">
        <div class="row find">
          <div class="col-lg-7 col-lg-offset-1 col-md-10 col-md-offset-1">
            <h3>Find the Company you’re looking for</h3>
            <h5>Search directly for the companies you love to work with.</h5>
            <form class="form-inline" role="form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="SEARCH COMPANY NAME">
                <button type="submit" class="btn btn-default">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> <!-- FIND -->

    <div class="container">
      {{!-- <div class="row info">

        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 video">
          <h3>Featured Video</h3>
          <iframe width="570" height="321" src="//www.youtube.com/embed/wmK4uS8HaA8?rel=0" frameborder="0" allowfullscreen></iframe>
        </div> <!-- VIDEO -->

        <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 testimonials">

          <h3>Testimonials</h3>
          <div class="quotebox">
            <div class="triangle"><div></div></div>
            <div class="quote">
              “Sed sollicitudin sagittis sapien eget sodales. Maecenas porta risus ut sem sollicitudin volutpat. Integer congue, dui et egestas rhoncus, ipsum dolor volutpat"
            </div>
          </div> <!-- QUOTEBOX -->
          <div class="quotee">
            <img src="./images/avatar.png" />
            <div>
              <div class="name">Alice Matthews, NY</div>
              <div class="since">Member Since 2014</div>
            </div>
          </div>

          <div class="buttons">
            <ul class="nav nav-pills pull-right">
             <li><a href="#">Read More Reviews</a></li>
             <li><a href="#">Browse Products</a></li>
            </ul>
          </div>

        </div> <!-- TESTIMONIALS -->

      </div> --}} <!-- ROW INFO-->

      <div class="row what">
        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 dtp">
          <div>
            <h3>What is DTP?</h3>
            <p>
              Drive Thru Production is the first online marketplace for the production community. We aim to make hiring equipment, crew members, and other production services simple by providing an efficient, intuitive, one-stop online booking experience.
            </p>
            <p>
              With DTP, you can rent what you need, when you need it, wherever you are.
            </p>
          </div>
          <img class="logo-arrow" src="./images/ic_dtp_logo@2x.png" />
        </div>
        <div class="col-lg-6 col-md-6 whatwedo">
          <div>
            <img class="banner" src="./images/home_page_banner@2x.png" />
            <div class="list">
              Film &amp; TV Production Equipment Rental<br/>
              Safe and Secure Web Transactions<br/>
              All your production needs in one place<br/>
              Easy communication and booking<br/>
            </div>
            <a class="button">Learn How It Works</a>
          </div>
        </div>
      </div>  <!-- ROW WHAT -->
    </div> <!-- CONTAINER -->

    <div id="login-fancy">
      <h3>LOGIN</h3>
      <form role="form">
        <input class="box" placeholder="EMAIL"></input>
        <input class="box" type="password" placeholder="PASSWORD"></input>
        <label class="checkbox-inline first">
          <input type="checkbox" class="checkbox" value="remember">Remember me
        </label><br/>
        <button type="submit" class="btn btn-default">SIGN IN</button>

      </form>
    </div>


    {{>footer}}

    {{>bottom-includes}}
</body>