---
title: Thank You
---
<body class="thank-you">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{>header}}

    <!-- MAIN CONTENT -->
    <div class="container" id="thank-you">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
          <h3>Thank You for Your Order!</h3>
       </div> <!-- COL NAV -->
      </div> <!-- ROW NAV -->

      <div class="row">
        <div class="col-lg-8 col-lg-offset-1 thank-you-left">
          <h4>Rented from <span>CAM EXPRESS RENTAL</span> on October 29, 2011</h4>
          <div class="item">
            <img class="product-main" src="./images/camera_test.png" />
            <div class="info">
              <div class="top">
                <div class="content">
                  <span class="name">CANON C300</span> <span class="price">$5,000</span>
                </div>
              </div> <!-- TOP -->
             
            </div> <!-- INFO -->
          </div> <!-- ITEM -->
        </div> <!-- REVIEW INFO -->
        <div class="col-lg-3 thank-you-right">
          <div class="btn">Leave a Review</div>
          <div class="btn">Your Receipt</div>
        </div> <!-- REVIEW PERSON -->

      </div>
      
    


    </div> <!-- CONTAINER -->


    {{>footer}}

    {{>bottom-includes}}
</body>