---
title: Vendor
---
<body class="vendor">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{>header}}


    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row" >
      <div class="col-md-10 col-md-offset-1" id="vendor-header">
        <div class="top-row">
              <div class="left">
                <div class="shop-logo">
                  <img src="images/vendor-shop-logo.png">
                </div>
                <div class="name-bar">
                  <span class="name">Camera Rentals</span><br/>
                  <span class="location">NY &middot; LA &middot; CHI</span>
                </div>
                <div class="rating-bar">
                  <div class="stars five"></div> <span class="ratings">50 ratings,</span> <span class="reviews">27 reviews</span>
                </div>
              </div>
              <div class="right">
                <div class="welcome-text">Camera Rentals is an industry leader in the sales, rental, service and training of new acquisition tools for digital cinema, high-speed, broadcast, new media &amp; more.</div>
                {{!-- <div class="welcome-alert">The ARRI AMIRA has arrived! 10% off New Rentals</div> --}}


              
              <div class="social-follow">
                <span class="follow-us">Follow Us</span>
                <ul>
                  <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li><a href=""><i class="fa fa-instagram fa-lg"></i></a></li>
                    </ul>
              </div><!-- SOCIAL FOLLOW -->

              <div class="search-row">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input type="text" class="form-control shop-search" placeholder="SEARCH THIS SHOP">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div> <!-- SEARCH ROW -->
            </div><!-- RIGHT -->
            </div> <!-- TOP ROW -->
      </div><!-- COL-MD-12 -->
      </div><!-- ROW#VENDOR HEADER -->
      <div class="row" id="vendor">
        <div class="col-lg-7 col-lg-offset-1 col-md-8 col-sm-8 col" id="vendor-shop-col">

          <div id="shop">
            <ul>

              <li>
                <div class="category-block">
                  <div class="cat-header">
                    <h2>Equipment</h2>
                    <span class="count">6</span>
                    <span class="toggle">&mdash;</span>
                  </div><!-- CAT HEADER -->
                  <ul class="sub-cat-list">

                    <li>
                      <div class="sub-category-block">
                        <div class="sub-cat-header">
                          <h3>Cameras</h3>
                          <span class="count">4</span>
                          <span class="rate-header">Month / Week / Day</span>
                        </div><!-- SUB CAT HEADER -->

                        <ul class="product-list">

                          <li>
                            <div class="product">
                              <div class="product-image-holder">
                                <img class="product-main" src="./images/alexa-epic.png" />
                              </div><!-- PRODUCT IMAGE HOLDER -->
                              <div class="info">
                                <div class="top">
                                  <div class="left">
                                    <span class="name">Large Alexa Red Epic</span>
                                  </div>
                                  <div class="right">
                                    <span class="price">$750 / $500 / $250</span>
                                    <div class="stars five"></div> 
                                  </div> 
                                </div><!-- TOP -->
                                <div class="bottom">
                                  <div class="content">
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>  
                                    <a class="description fancybox" href="#product-full-fancy">VIEW ITEM</a>
                                    <a class="add" href="#">ADD TO ORDER</a>
                                  </div>
                                </div> <!-- BOTTOM -->
                              </div> <!-- INFO -->
                            </div><!-- PRODUCT -->
                          </li>
                          <li>
                            <div class="product">
                              <div class="product-image-holder">
                                <img class="product-main" src="./images/alexa-epic.png" />
                              </div><!-- PRODUCT IMAGE HOLDER -->
                              <div class="info">
                                <div class="top">
                                  <div class="left">
                                    <span class="name">Large Alexa Red Epic</span>
                                  </div>
                                  <div class="right">
                                    <span class="price">$750 / $500 / $250</span>
                                    <div class="stars five"></div> 
                                  </div> 
                                </div><!-- TOP -->
                                <div class="bottom">
                                  <div class="content">
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>  
                                    <a class="description fancybox" href="#product-full-fancy">VIEW ITEM</a>
                                    <a class="add" href="#">ADD TO ORDER</a>
                                  </div>
                                </div> <!-- BOTTOM -->
                              </div> <!-- INFO -->
                            </div><!-- PRODUCT -->
                          </li>
                          <li>
                            <div class="product">
                              <div class="product-image-holder">
                                <img class="product-main" src="./images/alexa-epic.png" />
                              </div><!-- PRODUCT IMAGE HOLDER -->
                              <div class="info">
                                <div class="top">
                                  <div class="left">
                                    <span class="name">Large Alexa Red Epic</span>
                                  </div>
                                  <div class="right">
                                    <span class="price">$750 / $500 / $250</span>
                                    <div class="stars five"></div> 
                                  </div> 
                                </div><!-- TOP -->
                                <div class="bottom">
                                  <div class="content">
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>  
                                    <a class="description fancybox" href="#product-full-fancy">VIEW ITEM</a>
                                    <a class="add" href="#">ADD TO ORDER</a>
                                  </div>
                                </div> <!-- BOTTOM -->
                              </div> <!-- INFO -->
                            </div><!-- PRODUCT -->
                          </li>
                          <li>
                            <div class="product">
                              <div class="product-image-holder">
                                <img class="product-main" src="./images/alexa-epic.png" />
                              </div><!-- PRODUCT IMAGE HOLDER -->
                              <div class="info">
                                <div class="top">
                                  <div class="left">
                                    <span class="name">Large Alexa Red Epic</span>
                                  </div>
                                  <div class="right">
                                    <span class="price">$750 / $500 / $250</span>
                                    <div class="stars five"></div> 
                                  </div> 
                                </div><!-- TOP -->
                                <div class="bottom">
                                  <div class="content">
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>  
                                    <a class="description fancybox" href="#product-full-fancy">VIEW ITEM</a>
                                    <a class="add" href="#">ADD TO ORDER</a>
                                  </div>
                                </div> <!-- BOTTOM -->
                              </div> <!-- INFO -->
                            </div><!-- PRODUCT -->
                          </li>
                        </ul>
                        
                      </div><!-- SUB CATEGORY BLOCK -->
                      
                    </li>

                    <li>
                      <div class="sub-category-block">
                        <div class="sub-cat-header">
                          <h3>Lenses</h3>
                          <span class="count">2</span>
                          <span class="rate-header">Month / Week / Day</span>
                        </div><!-- SUB CAT HEADER -->

                        <ul class="product-list">
                        
                          <li>
                            <div class="product">
                              <div class="product-image-holder">
                                <img class="product-main" src="./images/alexa-epic.png" />
                              </div><!-- PRODUCT IMAGE HOLDER -->
                              <div class="info">
                                <div class="top">
                                  <div class="left">
                                    <span class="name">Large Alexa Red Epic</span>
                                  </div>
                                  <div class="right">
                                    <span class="price">$750 / $500 / $250</span>
                                    <div class="stars five"></div> 
                                  </div> 
                                </div><!-- TOP -->
                                <div class="bottom">
                                  <div class="content">
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>  
                                    <a class="description fancybox" href="#product-full-fancy">VIEW ITEM</a>
                                    <a class="add" href="#">ADD TO ORDER</a>
                                  </div>
                                </div> <!-- BOTTOM -->
                              </div> <!-- INFO -->
                            </div><!-- PRODUCT -->
                          </li>
                          <li>
                            <div class="product">
                              <div class="product-image-holder">
                                <img class="product-main" src="./images/alexa-epic.png" />
                              </div><!-- PRODUCT IMAGE HOLDER -->
                              <div class="info">
                                <div class="top">
                                  <div class="left">
                                    <span class="name">Large Alexa Red Epic</span>
                                  </div>
                                  <div class="right">
                                    <span class="price">$750 / $500 / $250</span>
                                    <div class="stars five"></div> 
                                  </div> 
                                </div><!-- TOP -->
                                <div class="bottom">
                                  <div class="content">
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>  
                                    <a class="description fancybox" href="#product-full-fancy">VIEW ITEM</a>
                                    <a class="add" href="#">ADD TO ORDER</a>
                                  </div>
                                </div> <!-- BOTTOM -->
                              </div> <!-- INFO -->
                            </div><!-- PRODUCT -->
                          </li>
                        </ul>
                        
                      </div><!-- SUB CATEGORY BLOCK -->
                    </li>
                    
                    
                    
                  </ul>
                  
                </div><!-- CATEGORY BLOCK -->
              </li>
              
              <li>
                <div class="category-block">
                  <div class="cat-header">
                    <h2>on set support</h2>
                    <span class="count">2</span>
                    <span class="toggle">&mdash;</span>
                  </div><!-- CAT HEADER -->
                  <ul class="sub-cat-list">

                    <li>
                      <div class="sub-category-block">
                        <div class="sub-cat-header">
                          <h3>sub-category</h3>
                          <span class="count">2</span>
                          <span class="rate-header">Month / Week / Day</span>
                        </div><!-- SUB CAT HEADER -->

                        <ul class="product-list">

                          <li>
                            <div class="product">
                              <div class="product-image-holder">
                                <img class="product-main" src="./images/alexa-epic.png" />
                              </div><!-- PRODUCT IMAGE HOLDER -->
                              <div class="info">
                                <div class="top">
                                  <div class="left">
                                    <span class="name">Large Alexa Red Epic</span>
                                  </div>
                                  <div class="right">
                                    <span class="price">$750 / $500 / $250</span>
                                    <div class="stars five"></div> 
                                  </div> 
                                </div><!-- TOP -->
                                <div class="bottom">
                                  <div class="content">
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>  
                                    <a class="description fancybox" href="#product-full-fancy">VIEW ITEM</a>
                                    <a class="add" href="#">ADD TO ORDER</a>
                                  </div>
                                </div> <!-- BOTTOM -->
                              </div> <!-- INFO -->
                            </div><!-- PRODUCT -->
                          </li>
                          <li>
                            <div class="product">
                              <div class="product-image-holder">
                                <img class="product-main" src="./images/alexa-epic.png" />
                              </div><!-- PRODUCT IMAGE HOLDER -->
                              <div class="info">
                                <div class="top">
                                  <div class="left">
                                    <span class="name">Large Alexa Red Epic</span>
                                  </div>
                                  <div class="right">
                                    <span class="price">$750 / $500 / $250</span>
                                    <div class="stars five"></div> 
                                  </div> 
                                </div><!-- TOP -->
                                <div class="bottom">
                                  <div class="content">
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>  
                                    <a class="description fancybox" href="#product-full-fancy">VIEW ITEM</a>
                                    <a class="add" href="#">ADD TO ORDER</a>
                                  </div>
                                </div> <!-- BOTTOM -->
                              </div> <!-- INFO -->
                            </div><!-- PRODUCT -->
                          </li>
                        </ul>
                      </div><!-- SUB CATEGORY BLOCK -->
                    </li><!-- CATEGORY LI -->

                    <li>
                  <div class="category-block">
                    <div class="cat-header">
                      <h2>lighting &amp; grip</h2>
                      <span class="count">23</span>
                      <span class="toggle">&#43;</span>
                    </div><!-- CAT HEADER -->
                    <ul class="sub-cat-list visuallyhidden">

                      <li>
                        <div class="sub-category-block">
                          <div class="sub-cat-header">
                            <h3>sub-category</h3>
                            <span class="count">2</span>
                            <span class="rate-header">Month / Week / Day</span>
                          </div><!-- SUB CAT HEADER -->

                        <ul class="product-list">

                          <li>
                            <div class="product">
                              <div class="product-image-holder">
                                <img class="product-main" src="./images/alexa-epic.png" />
                              </div><!-- PRODUCT IMAGE HOLDER -->
                              <div class="info">
                                <div class="top">
                                  <div class="left">
                                    <span class="name">Large Alexa Red Epic</span>
                                  </div>
                                  <div class="right">
                                    <span class="price">$750 / $500 / $250</span>
                                    <div class="stars five"></div> 
                                  </div> 
                                </div><!-- TOP -->
                                <div class="bottom">
                                  <div class="content">
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>  
                                    <a class="description fancybox" href="#product-full-fancy">VIEW ITEM</a>
                                    <a class="add" href="#">ADD TO ORDER</a>
                                  </div>
                                </div> <!-- BOTTOM -->
                              </div> <!-- INFO -->
                            </div><!-- PRODUCT -->
                          </li>
                          <li>
                            <div class="product">
                              <div class="product-image-holder">
                                <img class="product-main" src="./images/alexa-epic.png" />
                              </div><!-- PRODUCT IMAGE HOLDER -->
                              <div class="info">
                                <div class="top">
                                  <div class="left">
                                    <span class="name">Large Alexa Red Epic</span>
                                  </div>
                                  <div class="right">
                                    <span class="price">$750 / $500 / $250</span>
                                    <div class="stars five"></div> 
                                  </div> 
                                </div><!-- TOP -->
                                <div class="bottom">
                                  <div class="content">
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>  
                                    <a class="description fancybox" href="#product-full-fancy">VIEW ITEM</a>
                                    <a class="add" href="#">ADD TO ORDER</a>
                                  </div>
                                </div> <!-- BOTTOM -->
                              </div> <!-- INFO -->
                            </div><!-- PRODUCT -->
                          </li>
                        </ul>
                      </div><!-- SUB CATEGORY BLOCK -->
                    </li><!-- CATEGORY LI -->
                  </ul>
                </div><!-- CATEGORY BLOCK -->
              </li>
            </ul>
          </div>
        </div> <!-- #SHOP -->
        </div> <!-- VENDOR SHOP COL -->
        <div class="col-lg-3 col-md-3 col-sm-4 col" id="vendor-info-col">

          <div id="info">
            <div class="head">ORDER INFO</div>
            <div class="info-row">
              <h4>PROJECT NAME</h4>
              <h5>Pulp Fiction</h5>
              <a href="#" class="edit"></a>
            </div>
            <div class="info-row">
              <h4>LOCATION</h4>
              <h5>
                190 West Street<br/>
                Brooklyn, NY 11222
              </h5>
              <a href="#" class="edit"></a>
            </div>
            <div class="info-row">
              <h4>DATES</h4>
              <h5>Add Project Dates</h5>
              <a href="#" class="edit"></a>
            </div>
            <div class="info-row">
              <h4>DELIVERY TYPE</h4>
              <h5>Add Delivery Type</h5>
              <a href="#" class="edit"></a>
            </div>
          </div> <!-- INFO -->
          <div id="my-order">
            {{!-- <div class="total">
              <div class="head">MY ORDER</div>

              <div class="total-row">
                <h4>Large Alexa Oblique</h4>
                <div class="price">$5,000</div>
                <h5>Edit&nbsp;/&nbsp;Delete</h5>
              </div> <!-- TOTAL ROW -->

              <div class="total-row">
                <h4>Large Alexa Oblique</h4>
                <div class="price">$5,000</div>
                <h5>Edit&nbsp;/&nbsp;Delete</h5>
              </div> <!-- TOTAL ROW -->

              <div class="total-row tax">
                <h4>Tax</h4>
                <div class="price">$23.57</div>
              </div> <!-- TOTAL ROW -->

              <div class="final-total">
                <h4>TOTAL</h4>
                <div class="price">$5023.57</div>
              </div>
            </div> --}} <!-- TOTAL -->

            <div class="message">

              <form class="form-inline" role="form">
                <div class="form-group">
                  <textarea name="message" class="form-control" value="">Type a message...</textarea>
                  <button type="submit" class="btn btn-default">SEND MESSAGE</button>
               </div>
             </form>

            </div> <!-- MESSAGE -->
          </div> <!-- MY ORDER -->

        </div> <!-- VENDOR INFO COL -->

      </div> <!-- VENDOR ROW -->
    </div> <!-- CONTAINER -->

    <div id="product-full-fancy">
      <div class="top">
        <span class="name">CANON C300</span> <div class="stars five"></div> <span class="price">$5,000</span>
        <button class="btn btn-default">(1) IN CART <img src="./images/cart_white.png"></img></button>
      </div> <!-- TOP -->
      <div class="bottom">
        <div class="thumbs">
          <a class="thumb" style="background-image:url('./images/camera_test.png');"></a>
          <a class="thumb" style="background-image:url('./images/camera_test.png');"></a>
          <a class="thumb" style="background-image:url('./images/camera_test.png');"></a>
        </div> <!-- THUMBS -->
        <div class="main-image" style="background-image:url('./images/camera_test.png');"></div>
        <div class="info">
          <div class="circle shop"></div>
          <div class="name-bar">
            <span class="name">CAMERA RENTALS</span><br/>
            <span class="location">Faireview, NJ</span>
          </div>
          <div class="rating-bar"><div class="stars five"></div></div>
          <div class="related">
            <h4>RELATED ITEMS FROM VENDOR:</h4>
            <div class="item">
              <div class="title">Cine VCXL Block Batter</div>
              <div class="circle" style="background-image:url('./images/camera_test.png');"></div>
            </div>
            <div class="item">
              <div class="title">Cine VCXL Block Batter</div>
              <div class="circle" style="background-image:url('./images/camera_test.png');"></div>
            </div>
            <div class="item">
              <div class="title">Cine VCXL Block Batter</div>
              <div class="circle" style="background-image:url('./images/camera_test.png');"></div>
            </div>
          </div> <!-- RELATED -->
        </div> <!-- INFO -->
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque dictum quam, a dapibus leo porta ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi eleifend orci ante, eget vehicula neque varius quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Integer ornare, sem eget tincidunt rhoncus, urna nisl sollicitudin risus, in rhoncus dolor tellus eget ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam mollis, sem vel euismod posuere, dolor lorem vestibulum purus, sit amet tristique nulla ipsum vitae nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris finibus malesuada lorem non tincidunt.</p>

          <div class="buttons">
            <button class="btn btn-default">SPECS</button>
            <button class="btn btn-default">DOWNLOADS</button>

          </div>
        </div> <!-- CONTENT -->
      </div> <!-- BOTTOM -->
      <div class="demo">
        <h5>CAMERA DEMO</h5>
        <iframe src="//player.vimeo.com/video/116262677?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="602" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div> <!-- PRODUCT FULL FANCY -->


    {{>footer}}


    {{>bottom-includes}}
</body>