<div class="container-fluid footer-background">
  <div class="container">
    <div class="footer">
      <div class="logo">
        <img src="./images/icn_DTP_footer_logo@2x.png" />
      </div>
      <div class="social">
        <h3>Share With Friends</h3>
        <a href=""><img src="./images/btn_footer_facebook@2x.png" /></a>
        <a href=""><img src="./images/btn_footer_twitter@2x.png" /></a>
        <a href=""><img src="./images/btn_footer_pinterest@2x.png" /></a>
        <a href=""><img src="./images/btn_footer_googleplus@2x.png" /></a>
      </div> <!-- SOCIAL -->
      <div class="links">
        <h3>Get to Know Us</h3>
        <ul>
          <li><a href="">About Drive Thru Production</a></li>
          <li><a href="">How Renting Works</a></li>
          <li><a href="">Our Policies</a></li>
          <li><a href="">Our Guarantee</a></li>
        </ul>
      </div> <!-- LINKS -->
      <div class="links">
        <h3>Business Solutions</h3>
        <ul>
          <li><a href="">Join our Vendor Network</a></li>
          <li><a href="">Learn About Company Accounts</a></li>
          <li><a href="">Get Help Listing your Equipment</a></li>
        </ul>
      </div> <!-- LINKS -->
      <div class="links">
        <h3>Contact &amp; Help</h3>
        <ul>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Suggest a New Vendor</a></li>
          <li><a href="">Comments and Feedback</a></li>
        </ul>
      </div> <!-- LINKS -->
    </div> <!-- FOOTER -->
  </div>
  <hr/>
  <div class="container">
    <div class="copyright">
     2014 Drive Thru Productions, LLC. All Rights Reserved. <a href="#">Terms of Use</a>. <a href="#">Privacy Policy</a>.
    </div>
  </div>
</div> <!-- FOOTER -->