<div class="container-fluid gradient" id="header">
  <div id="top-menu">
    <a href="#"><img src="./images/top-menu-logo.png" /></a>
    <ul class="pull-right">
      <li class="help"><a href="#">Help</a></li>
      <li class="cart"><a href="#"><img src="./images/top-menu-cart.png" /></a></li>
    </ul>
  </div>
  <div class="container">
    <div id="site-header">
      <a class="logo"><img src="./images/icn_DTP_logo_Nav@2x.png" /></a>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="What Are you Looking For?">
          <button type="submit" class="btn btn-default">Search</button>
        </div>
      </form>
      
      <div class="dropdown-link" id="account-dropdown">
        <div class="circle account">
        </div>
        <div class="label">MY ACCOUNT <div class="triangle"></div></div>
        <ul>
          <li></li>
          <li><a href="#">ACCOUNT SETTINGS</a></li>
          <li><a href="#">MY ORDERS</a></li>
          <li><a href="#">MY REVIEWS</a></li>
          <li><a href="#">LOG OUT</a></li>
        </ul>
      </div>
      <div class="dropdown-link" id="shop-dropdown">
        <div class="circle shop">
        </div>
        <div class="label">MY SHOP <div class="triangle"></div></div>
      </div>
      
    </div> <!-- SITE HEADER -->
  </div> 
</div> <!-- HEADER -->